div#firstRow {
    height: 180px;
    width: 550px;
    text-align:center; 
    padding-top:20px; 
    margin: 20px auto 70px;
    border: 5px solid white;
}

div#trainSchedule {
    margin: 20px;
}

h1#orientExp {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    color: white; 
   
}

div#trainSchedule {
    width: 850px;
}

#tbody {
    color: white;
    background-color: rgb(41, 112, 219);
}

